/*
 |--------------------------------------------------------------------------
 | Filament Admin Overrides
 |--------------------------------------------------------------------------
 |
 | Place any custom CSS overrides for the Filament admin panel here.
 | This file is imported by `resources/css/filament/admin/theme.css`, which is
 | registered via `AdminPanelProvider`. Update styles below and run `npm run dev`
 | (or `npm run build`) to apply changes.
 |
 */




.custom-button-container {
    & .icon {
        mask-image: var(--icon-url);
        -webkit-mask-image: var(--icon-url);
        background-color: var(--icon-color, currentColor);
        width: var(--icon-size, 1.5em);
        height: var(--icon-size, 1.5em);
        display: inline-block;
        vertical-align: middle;
        mask-size: 80%;
        -webkit-mask-size: 80%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }
    &.notext span.label {
        display: none;
    }
}

/* get the first div in container
.fi-layout > div:nth-child(2) {
    background-color:#ddd;

}

  .fi-sidebar-item {
    &.fi-active {
      & > .fi-sidebar-item-btn {
        background-color: #fff;
      }
    }
  }

  .fi-sidebar-footer {
    background-color: #fff;
    border-radius: 5px;
  }
*/
