/*
 |--------------------------------------------------------------------------
 | Filament Admin Overrides
 |--------------------------------------------------------------------------
 |
 | Place any custom CSS overrides for the Filament admin panel here.
 | This file is imported by `resources/css/filament/admin/theme.css`, which is
 | registered via `AdminPanelProvider`. Update styles below and run `npm run dev`
 | (or `npm run build`) to apply changes.
 |
 */
@layer components {
  .fi-sidebar-group-items {
    row-gap: calc(var(--spacing) * 0);
  }
}
@layer components {
  .fi-sidebar-item-btn {
    padding: calc(var(--spacing) * 1);
  }
}


.custom-button-container {
    cursor: pointer;
    &.centered-icon {
        text-align: center;
    }
    & .icon {
        mask-image: var(--icon-url);
        -webkit-mask-image: var(--icon-url);
        background-color: var(--icon-color, currentColor);
        width: var(--icon-size, 2rem);
        height: var(--icon-size, 2rem);
        display: inline-block;
        vertical-align: middle;
        mask-size: 80%;
        -webkit-mask-size: 80%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }
    &.notext span.label {
        display: none;
    }
}
.custom-icon-container {
    cursor: pointer;
    &.centered-icon {
        text-align: center;
    }
    & .icon {
        mask-image: var(--icon-url);
        -webkit-mask-image: var(--icon-url);
        background-color: var(--icon-color, currentColor);
        width: var(--icon-size, 2rem);
        height: var(--icon-size, 2rem);
        display: inline-block;
        vertical-align: middle;
        mask-size: 80%;
        -webkit-mask-size: 80%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }
    &.notext span.label {
        display: none;
    }
}

.custom-icon-container span.icon.active {
    --icon-color: #339933;
    background-color: var(--icon-color, currentColor);
}

.custom-icon-container span.icon.inactive {
    --icon-color: #aa333322;
    background-color: var(--icon-color, currentColor);
}


